## Preprocessing

In [1]:
#pip install tensorflow

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-02-28 15:49:12.459610: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df['APPLICATION_TYPE'].value_counts()
print(application_type)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type[application_type <500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
binnigcount = application_df["CLASSIFICATION"].value_counts()
print(binnigcount)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification = binnigcount[binnigcount>1]
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(binnigcount[binnigcount<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df,dtype=float)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = numeric_df['IS_SUCCESSFUL'].values

X = numeric_df.drop('IS_SUCCESSFUL', axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input = len(X_train_scaled[0])
hidden_nodes_1 = 7
hidden_nodes_2 = 14                   
hidden_nodes_3 = 21
                   
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=number_input, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 350

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 477 (1.86 KB)
Trainable params: 477 (1.86 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss= 'binary_crossentropy', optimizer = 'adam', metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6102 - accuracy: 0.6839 - val_loss: 0.5713 - val_accuracy: 0.7214
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5696 - accuracy: 0.7175 - val_loss: 0.5590 - val_accuracy: 0.7331
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7244 - val_loss: 0.5524 - val_accuracy: 0.7359
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7266 - val_loss: 0.5509 - val_accuracy: 0.7357
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7259 - val_loss: 0.5489 - val_accuracy: 0.7370
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7271 - val_loss: 0.5505 - val_accuracy: 0.7367
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7265 - val_loss: 0.5491 - val_accuracy: 0.7357
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7268 - val_loss: 0.5504 - val_accuracy: 0.7341
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7264 - val_loss: 0.5467 - val_accuracy: 0.7341
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7270 - val_loss: 0.5490 - val_accuracy: 0.7326
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7268 - val_loss: 0.5481 - val_accuracy: 0.7357
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7285 - val_loss: 0.5494 - val_accuracy: 0.7344
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7278 - val_loss: 0.5474 - val_accuracy: 0.7359
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7273 - val_loss: 0.5452 - val_accuracy: 0.7367
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7284 - val_loss: 0.5471 - val_accuracy: 0.7349
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7278 - val_loss: 0.5461 - val_accuracy: 0.7341
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7282 - val_loss: 0.5467 - val_accuracy: 0.7334
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7287 - val_loss: 0.5472 - val_accuracy: 0.7354
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7290 - val_loss: 0.5455 - val_accuracy: 0.7365
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7292 - val_loss: 0.5452 - val_accuracy: 0.7385
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7283 - val_loss: 0.5449 - val_accuracy: 0.7391
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7276 - val_loss: 0.5454 - val_accuracy: 0.7372
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7286 - val_loss: 0.5477 - val_accuracy: 0.7372
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7296 - val_loss: 0.5477 - val_accuracy: 0.7383
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7288 - val_loss: 0.5448 - val_accuracy: 0.7378
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7292 - val_loss: 0.5457 - val_accuracy: 0.7385
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7289 - val_loss: 0.5457 - val_accuracy: 0.7367
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7289 - val_loss: 0.5461 - val_accuracy: 0.7393
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7301 - val_loss: 0.5448 - val_accuracy: 0.7388
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7298 - val_loss: 0.5455 - val_accuracy: 0.7388
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7301 - val_loss: 0.5459 - val_accuracy: 0.7378
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7303 - val_loss: 0.5440 - val_accuracy: 0.7393
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7300 - val_loss: 0.5509 - val_accuracy: 0.7370
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7301 - val_loss: 0.5426 - val_accuracy: 0.7391
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7312 - val_loss: 0.5440 - val_accuracy: 0.7372
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7302 - val_loss: 0.5445 - val_accuracy: 0.7372
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7300 - val_loss: 0.5447 - val_accuracy: 0.7385
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5467 - accuracy: 0.7298 - val_loss: 0.5455 - val_accuracy: 0.7383
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7307 - val_loss: 0.5451 - val_accuracy: 0.7383
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7308 - val_loss: 0.5441 - val_accuracy: 0.7383
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7312 - val_loss: 0.5453 - val_accuracy: 0.7388
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7309 - val_loss: 0.5471 - val_accuracy: 0.7370
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7312 - val_loss: 0.5459 - val_accuracy: 0.7359
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7307 - val_loss: 0.5444 - val_accuracy: 0.7383
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7314 - val_loss: 0.5451 - val_accuracy: 0.7385
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7314 - val_loss: 0.5441 - val_accuracy: 0.7391
Epoch 47/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5460 - accuracy: 0.7310 - val_loss: 0.5469 - val_accuracy: 0.7367
Epoch 48/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5451 - accuracy: 0.7314 - val_loss: 0.5470 - val_accuracy: 0.7396
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7311 - val_loss: 0.5453 - val_accuracy: 0.7383
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7312 - val_loss: 0.5447 - val_accuracy: 0.7385
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7316 - val_loss: 0.5448 - val_accuracy: 0.7370
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7314 - val_loss: 0.5443 - val_accuracy: 0.7409
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7319 - val_loss: 0.5445 - val_accuracy: 0.7383
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7316 - val_loss: 0.5435 - val_accuracy: 0.7391
Epoch 55/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5449 - accuracy: 0.7308 - val_loss: 0.5434 - val_accuracy: 0.7406
Epoch 56/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5451 - accuracy: 0.7324 - val_loss: 0.5450 - val_accuracy: 0.7406
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7320 - val_loss: 0.5450 - val_accuracy: 0.7396

Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7328 - val_loss: 0.5437 - val_accuracy: 0.7401
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7309 - val_loss: 0.5451 - val_accuracy: 0.7383
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7329 - val_loss: 0.5482 - val_accuracy: 0.7380
Epoch 61/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5447 - accuracy: 0.7330 - val_loss: 0.5437 - val_accuracy: 0.7403
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7306 - val_loss: 0.5462 - val_accuracy: 0.7357
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7324 - val_loss: 0.5451 - val_accuracy: 0.7359
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7311 - val_loss: 0.5430 - val_accuracy: 0.7411
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7331 - val_loss: 0.5474 - val_accuracy: 0.7375
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7321 - val_loss: 0.5480 - val_accuracy: 0.7388
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7330 - val_loss: 0.5477 - val_accuracy: 0.7385
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7314 - val_loss: 0.5460 - val_accuracy: 0.7380
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7330 - val_loss: 0.5436 - val_accuracy: 0.7346
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7326 - val_loss: 0.5470 - val_accuracy: 0.7385
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7327 - val_loss: 0.5447 - val_accuracy: 0.7401
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7319 - val_loss: 0.5461 - val_accuracy: 0.7385
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7333 - val_loss: 0.5464 - val_accuracy: 0.7388
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7324 - val_loss: 0.5448 - val_accuracy: 0.7403
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7328 - val_loss: 0.5463 - val_accuracy: 0.7398
Epoch 76/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5437 - accuracy: 0.7330 - val_loss: 0.5489 - val_accuracy: 0.7385
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7335 - val_loss: 0.5445 - val_accuracy: 0.7393
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7314 - val_loss: 0.5489 - val_accuracy: 0.7385
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7328 - val_loss: 0.5473 - val_accuracy: 0.7370
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7317 - val_loss: 0.5474 - val_accuracy: 0.7396
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7335 - val_loss: 0.5484 - val_accuracy: 0.7372
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7327 - val_loss: 0.5460 - val_accuracy: 0.7396
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7330 - val_loss: 0.5455 - val_accuracy: 0.7375
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7322 - val_loss: 0.5484 - val_accuracy: 0.7388
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7318 - val_loss: 0.5471 - val_accuracy: 0.7370
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7337 - val_loss: 0.5459 - val_accuracy: 0.7380
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7330 - val_loss: 0.5471 - val_accuracy: 0.7391
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7329 - val_loss: 0.5468 - val_accuracy: 0.7367
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7330 - val_loss: 0.5460 - val_accuracy: 0.7393
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7324 - val_loss: 0.5456 - val_accuracy: 0.7372
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7330 - val_loss: 0.5448 - val_accuracy: 0.7388
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7314 - val_loss: 0.5447 - val_accuracy: 0.7385
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7330 - val_loss: 0.5456 - val_accuracy: 0.7393
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7315 - val_loss: 0.5448 - val_accuracy: 0.7365
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7328 - val_loss: 0.5457 - val_accuracy: 0.7401
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7337 - val_loss: 0.5480 - val_accuracy: 0.7375
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7327 - val_loss: 0.5492 - val_accuracy: 0.7367
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7340 - val_loss: 0.5450 - val_accuracy: 0.7398
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7335 - val_loss: 0.5453 - val_accuracy: 0.7396
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7339 - val_loss: 0.5481 - val_accuracy: 0.7388

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7270 - 399ms/epoch - 1ms/step
Loss: 0.557217538356781, Accuracy: 0.7269970774650574

In [21]:
pip install google.colab --use-pep517

Collecting google.colab
  Using cached google-colab-1.0.0.tar.gz (72 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting google-auth~=1.4.0 (from google.colab)
  Using cached google_auth-1.4.2-py2.py3-none-any.whl (64 kB)
Collecting ipykernel~=4.6.0 (from google.colab)
  Using cached ipykernel-4.6.1-py3-none-any.whl (104 kB)
Collecting ipython~=5.5.0 (from google.colab)
  Using cached ipython-5.5.0-py3-none-any.whl (758 kB)
Collecting notebook~=5.2.0 (from google.colab)
  Using cached notebook-5.2.2-py2.py3-none-any.whl (8.0 MB)
Collecting six~=1.12.0 (from google.colab)
  Using cached six-1.12.0-py2.py3-none-any.whl (10 kB)
Collecting pandas~=0.24.0 (from google.colab)
  Using cached pandas-0.24.2.tar.gz (11.8 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... error
  error: subprocess-exited-with-error

  × Preparing metadata (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      <string>:12: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
      <string>:435: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
      <string>:436: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
      error in pandas setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers; Expected end or semicolon (after version specifier)
          pytz >= 2011k
               ~~~~~~~^
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [17]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')

ModuleNotFoundError: No module named 'google.colab'